<!DOCTYPE html>
<html>
  <head>
    <title>express.static() Demo</title>
  </head>

  <body>
    <h2>Greetings from GeeksforGeeks</h2>
    <img src="Hero.png" width="150" height="100" />
  </body>
</html>
